{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title> Химия - наука о веществах </title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script scr="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block topnav %}
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="{% url 'login_user' %}">Login</a>
        <a href="#contact">Contact</a>
        <a href="#about">Exit</a>
    </div>
{% endblock %}

{% block head %}
    <img scr="{% static 'image/logo.png' %}" alt="logo">
    <h1 size="7"> Сайт "Химия"</h1>
{% endblock %}

</head>
<body class = "main_body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">

                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}"> Главная страница</a></li>
                    <li><a href="#">Ученые</a></li>
                    <li><a href="{% url 'element_page' %}">Элементы</a></li>
                    <li><a href="{% url 'articles'%}">Статьи</a></li>
                    <li><a href="{% url 'contact' %}">Обратная связь</a></li>

                </ul>
                {% endblock %}

            </div>
            <div class="main">
                {% block content %}  {% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                                {% endif %}
                                <span class="page-current"> Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block footer %}
                    {% block copyright %}
                        <p>Copyright ООО "Химия", 2023. Все права защищены</p>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>