{% extends "elements/base.html" %}

{% block content %}
<div>
        <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <button class="btn" type="submit">Search</button>
</form>
</div>
    <h2><b>Элементы переодической ситемы</b></h2>
    <div class="content-element">
    <table>
        <thead style="b">
        <tr>
            <td><b>Название элемента</b></td>
            <td><b>Символ</b></td>
            <td><b>Изображение</b></td>
            <td><b>Контент</b></td>

        </tr>
        </thead>

    {% if elements_list %}
    {% for elements in elements_list.all %}
        <tr>
            <td>{{ elements.name}}</td>
            <td><b>{{ elements.simbol }}</b></td>
            <td><img src="{{ elements.image.url }}" width="150" height="150" alt="картинка"></td>
            <td>{{ elements.content|truncatewords:50|linebreaks }}
                         <a href="{{ elements.get_absolute_url }}">Читать пост</a>   </td>
            <td class="link-read-post"> </td>
        </tr>

    {% endfor %}
    {% else %}
        <p>Нет элементов</p>
    {% endif %}
    </table>
   </div>
{% endblock %}