{% extends "elements\base.html" %}
{% block content %}

<div class="elements_detail">
        <p><strong>Элемент: </strong>{{ elements.name }}</p>
        <p><strong>Символ: </strong>{{ elements.simbol }}</p>
        <p><img src="{{ elements.image.url }}" width="150" height="150" alt="картинка"></p>
        <p><strong>О элементе: </strong>{{ elements.content }}</p>
        <p><strong>Период: </strong>{{ elements.period }}</p>
        <p><strong>Характеристика: </strong>{{ elements.characteristics }}</p>
        <p><strong>Конфигурация: </strong>{{ elements.configuration }}</p>
</div>

{% endblock %}
